{erl_opts, [{platform_define, "20.3", '_vsn', "20.3.0"}

           ,{platform_define, "^2", 'OTP_20_AND_ABOVE'}

           ,{platform_define, "^R1", 'OTP_VERSION', 16}
           ,{platform_define, "^R1", 'BEFORE_OTP_17'}
           ,{platform_define, "^R1", 'BEFORE_OTP_18'}
           ,{platform_define, "^R1", 'BEFORE_OTP_19'}
           ,{platform_define, "^R1", 'BEFORE_OTP_20'}
           ,{platform_define, "^17", 'OTP_VERSION', 17}
           ,{platform_define, "^17", 'BEFORE_OTP_18'}
           ,{platform_define, "^17", 'BEFORE_OTP_19'}
           ,{platform_define, "^17", 'BEFORE_OTP_20'}
           ,{platform_define, "^18", 'OTP_VERSION', 18}
           ,{platform_define, "^18", 'BEFORE_OTP_19'}
           ,{platform_define, "^18", 'BEFORE_OTP_20'}
           ,{platform_define, "^19", 'OTP_VERSION', 19}
           ,{platform_define, "^19", 'BEFORE_OTP_20'}
           ,{platform_define, "^20", 'OTP_VERSION', 20}
           ]}.
